@import './../../assets/styles/mixins';

.top_rated {
    position: relative;

    @media screen and (max-width: 767px) {
        height: auto;
    }

    .slides {
        position: relative;
        overflow: hidden;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(20, 20, 20, 0.9) 15%, rgba(83, 100, 141, 0) 100%);
            width: 100%;
            z-index: 10;
        }

        .block_description {
            display: none;

            @media screen and (max-width: 1060px) {
                @include movie-card-block-description;
                width: 100%;
                text-align: center;
                left: 0;
                right: 0;

                h6 {
                    @include movie-card-title;
                    padding-right: 0;
                }

                .info {
                    color: $primary;
                    font-weight: 600;

                    span {
                        color: $white;
                    }
                }

                .btn_play_wrap {
                    margin-top: 1.2em;
                    display: flex;
                    justify-content: center;
                }
            }

        }
    }


}



.vertical-swiper {
    display: none !important;
}


.title {
    position: absolute;
    left: 1.0937em;
    top: 1.0937em;
    z-index: 99;

    @media screen and (max-width:1060px) {
        left: 0;
        right: 0;
        text-align: center;
    }
}