@import '../../assets/styles/variables';

.card_wrap {
    position: relative;
    margin-bottom: 1em;

    .card_body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(24.12deg, #000 .77%, transparent 96.59%);
        padding: 1.25em;
        display: flex;
        flex-direction: column;
        justify-content: end;

        h6 {
            font-size: 1em;
            font-weight: 600;
            font-family: Roboto, sans-serif;
            letter-spacing: .0625em;
            color: $white;
            cursor: pointer;
            transition: all .5s ease-in-out;

            &:hover {
                color: $primary;
            }

        }
    }
}