@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    background: #14141480;
    backdrop-filter: blur(10px);

    .logo_wrap {
        padding: 0.9375em 0 !important;

        .logo_image {
            width: 10rem !important;

            @media screen and (max-width: 479px) {
                width: 100% !important
            }
        }

        @media screen and (max-width: 991px) {
            width: 50%;
        }

        @media screen and (max-width: 767px) {
            width: 40%;
        }
    }

    .nav_item {
        position: relative;
        padding: 1.8em 0.5rem;

        .nav_link {
            color: inherit;
            font-family: inherit !important;
            margin-right: 1.2rem;

            span {
                font-weight: 600;
                letter-spacing: 1px;
            }
        }

        &:hover {
            span {
                color: $primary !important;
            }

            i {
                color: $body-text !important;
            }

            ul {
                display: block
            }
        }

        .sub_menu {
            position: absolute;
            padding: 0.9375em 0;
            background: $body-bg;
            top: 100%;
            padding-left: 0;
            min-width: 16em;
            z-index: 99;
            box-shadow: 0 0 1.25em 0 rgb(0 0 0 / 30%);
            display: none;

            li {
                padding: 0 0.9375em;
            }

            .sub_link {
                padding: 0.638em;
                font-size: 0.875em;
                display: block;
                position: relative;
                z-index: 99;
                color: inherit;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                    width: 0.25em;
                    display: block;
                    background: transparent;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    display: block;
                    background: transparent;
                    transition: all 0.5s ease-in-out;
                }

                &:hover {
                    color: inherit;

                    &::before {
                        background: $primary;
                    }

                    &::after {
                        background: transparent linear-gradient(270deg, rgba(11, 1, 2, 0) 0%, rgba(255, 55, 65, .3) 100%)
                    }
                }
            }
        }
    }

}

.menu_right {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 991px) {
        width: 50%;
    }

    .search_wrap {
        position: 'relative';

        @media screen and (max-width: 479px) {
            position: static;
        }

        .btn_search {
            padding: 1.8em 0em 1.8em 0em;

            &:hover {
                color: $primary !important;
            }
        }

        .search_box {
            min-width: 25vw;

            @media screen and (max-width: 479px) {
                left: 0;
                right: 0;
                min-width: 100%;
                width: 100%;
            }
        }

        .search_input {
            padding-left: 1.5em;
            padding-right: 5.5em;
            color: $body-text;
            height: 3.5em;
            background: transparent;
            width: 100%;
            font-size: .875em;
        }

        .search_submit {
            position: absolute;
            right: 0;
            color: $white;
            background: $primary;
            height: 3.5em;
            width: 3.5em;
            line-height: 3.5em;
            font-size: .875em;
        }
    }

    .avatar_wrap {
        margin: 0em 1.5em 0em 1.5em;
        position: relative;

        .avatar {
            display: inline-block;
            background: $bg-1;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .user_dropdown {
            padding: 0 1rem;

            .dropdown_item {
                @include dropdown-item;

                &:last-child {
                    border-bottom: 0
                }

                .right_icon {
                    margin-right: 1em;
                    margin-left: 0;
                }
            }
        }
    }

    .sidebar_btn {
        svg {
            width: 1.375rem;
            height: 1.375rem;
            position: relative;
            display: block;
        }
    }

    .dropdown {
        position: absolute;
        width: 18.75em;
        top: 100%;
        background: $bg-1;
        z-index: 1000;
        left: auto;
        right: 0;
        transform: translateY(4.375em);
        transition: all .3s ease-out 0s;
        opacity: 0;
        visibility: hidden;

        @media screen and (max-width: 479px) {
            width: 15.625em;
        }
    }

    .dropdown_active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}