@import '../../assets/styles/variables';

.banner {
    display: block;
    padding: 9.375em 0 5em;
    z-index: 1;
    position: relative;
    background-position: center !important;
    background-size: cover;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(20, 20, 20, 0.9) 15%, rgba(83, 100, 141, 0) 100%);
        width: 100%;
        z-index: -1;
    }

    .title {
        position: relative;
        font-size: 3.157em;
        color: $white;
        z-index: 2;
    }

    .breadcrumb {
        margin-top: 0.9375em;

        ol {
            justify-content: center;

            li {
                font-weight: 700;
                color: $primary;
                padding-left: 0.5em;

                a {
                    color: inherit;
                    text-transform: capitalize !important;
                }

                &::before {
                    content: '>';
                    color: inherit;
                    padding-right: 0.5em;
                }

                &:first-child {
                    &::before {
                        content: '';
                    }
                }
            }
        }
    }
}